<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ADE</string>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ADE connects to your Mac on the local network to pair this device.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ade-sync._tcp</string>
	</array>
</dict>
</plist>
